
.journal {

    &__main-content {
        display: flex;
    }

    &__sidebar {
        background-color: $c-dark-gray;
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 500px;
        padding: 0 1rem;

        &-navbar {
            display: flex;
            justify-content: space-between;

            h3 {
                font-weight: 300;
            }
        }
    }

    &__new-entry {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 30px;
        width: 100%;
        transition: color 0.3s ease;

        &:hover {
            color: darken(#fff, 20);
        }
    }

    &__entries {
        margin-top: 30px;
        flex: 1 1 auto;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 8px;
            display: none;
        }
        &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: #999999;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        &::-webkit-scrollbar-track {
            background: #e1e1e1;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-track:hover, 
        &::-webkit-scrollbar-track:active {
          background: #d4d4d4;
        }
    }

    &__entry {

        display: flex;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: 4px;
        color: $c-dark-gray;
        overflow-y: hidden;
        cursor: pointer;
        min-height: 75px;

        &-picture {
            height: 75px;
            width: 75px;
        }

        &-body {
            padding: 10px;
            width: 50%;
            flex-grow: 1;
        }
        &-title {
            font-weight: 600;
            font-size: 0.9rem;
        }
        &-content {
            font-size: 0.7rem;
        }
        &-date-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
            span {
                font-size: 0.8rem;
            }
        }
    }

}