.nothing {
    &__main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $c-primary;
        color: #fff;
        height: 100vh;

        p {
            text-align: center;
            letter-spacing: 0.4px;
        }
    }
}