.notes {
    &__main-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__appbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary;
        color: #fff;
        padding: 10px 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;

        @include mediaTo(md) {
            min-height: 630px;
        }
    }

    &__title-input,
    &__textarea {
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__title-input {
        color: $dark-grey;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__textarea {
        border: none;
        color: $dark-grey;
        font-size: 20px;
        flex: 1 1 auto;
        resize: none;
    }

    &__image img{
        box-shadow: 5px 5px $dark-grey;
        height: 150px;
    }
}